#box {
    height: 500px;
    width:  700px;
    border: 7px solid;
    margin: auto;
}

#score {
    text-align: center;
    font-size: 35px;
}

.guys{
    position: absolute;
    height: 100px;
    width: 70px;
    z-index: 1;
}

#potato {
    position: absolute;
    height: 45px;
    width: 45px;
}